In [3]:
# Filling missing values with group-specific values
import pandas as pd
import numpy as np

In [4]:
s = pd.Series(np.random.randn(6))

In [5]:
s[::2] = np.nan
s

0         NaN
1    0.617156
2         NaN
3    1.254529
4         NaN
5   -1.583634
dtype: float64

In [6]:
# fill in the missing value with mean.
s.fillna(s.mean())

0    0.096017
1    0.617156
2    0.096017
3    1.254529
4    0.096017
5   -1.583634
dtype: float64

In [74]:
# Healthcare Examples
# Imagine you have claims status column with missing data

s = pd.DataFrame(np.random.randint(1000, 4000, size=(10, 1)),
                 columns = ["claim_number"])

# add the status
s["claim_status"] = "PAID"

# sample our dummy claim dataframe
print('Original Pandas DataFrame:')
print(s.head(), '\n')

# create blanks every 2 row
# this is how you assign a dummy value to column "claim_status"
# every 2 rows from 0 to end of the rows
# reference: https://stackoverflow.com/a/53371671
s.loc[::2, "claim_status"] = np.nan

# re-sample
print('After make modification:')
print(s.head(), '\n')

# Let's fill the empty claim_status with "Pending"
s["claim_status"] = s["claim_status"].fillna("PENDING")
print('Finally used fillna():')
print(s.head(), '\n')

Original Pandas DataFrame:
   claim_number claim_status
0          1142         PAID
1          3313         PAID
2          2898         PAID
3          1409         PAID
4          3582         PAID

After make modification:
   claim_number claim_status
0          1142          NaN
1          3313         PAID
2          2898          NaN
3          1409         PAID
4          3582          NaN

Finally used fillna():
   claim_number claim_status
0          1142      PENDING
1          3313         PAID
2          2898      PENDING
3          1409         PAID
4          3582      PENDING

In [79]:
# Healthcare Examples #2
# Imagine you have eligiblity coloumn with missing data

# note this is the same as 
#   pd.DataFrame(np.random.randint(0, 9000, size=(10, 1))...) !
e = pd.DataFrame(np.random.randint(9000, size=(10, 1)),
                 columns = ["member_number"])

# add the member status
e["coverage"] = "ACTIVE"
# print(e.head(), '\n')

# make some changes
e.loc[3::, "coverage"] = np.nan
print(e.head(), '\n')

e["coverage"] = e["coverage"].fillna("PENDING")
print(e.head(), '\n')

   member_number coverage
0           4833   ACTIVE
1           8779   ACTIVE
2           3206   ACTIVE
3           8302      NaN
4           5392      NaN

   member_number coverage
0           4833   ACTIVE
1           8779   ACTIVE
2           3206   ACTIVE
3           8302  PENDING
4           5392  PENDING

In [91]:
# Healthcare Example #3
# Imagine you have effective date with missing data

m = pd.DataFrame(np.random.randint(1000, 9000, size=(10, 1)),
                 columns=["member_number"])

# add a random date
# https://stackoverflow.com/a/53054918
min_date = pd.to_datetime('1920-01-01')
max_date = pd.to_datetime('1990-12-31')

# find out the max number of dates you allow
d = (max_date - min_date).days + 1

# generate a random date for this column
m['effective_date'] = min_date + pd.to_timedelta(pd.np.random.randint(d, size=10), unit='d')
print('Original DataFrame:')
print(m, '\n')

# %timeit df['month3'] = (df['purchase_date'] - pd.offsets.MonthBegin(1)).dt.floor('d')
# 100 loops, best of 3: 12.8 ms per loop

# convert the effective_date to first of the month
# convert the effective_date to end of the month
print('Converted to First of Month:')
m['first_of_month'] = (m['effective_date'] - pd.offsets.MonthBegin(1)).dt.floor('d')
m['last_of_month'] = (m['effective_date'] + pd.offsets.MonthEnd(1)).dt.floor('d')
print(m)

Original DataFrame:
   member_number effective_date
0           7292     1928-09-17
1           6594     1952-06-14
2           5585     1943-06-23
3           6316     1921-01-08
4           6426     1932-03-25
5           7781     1954-07-05
6           6884     1961-09-03
7           2798     1982-04-24
8           6157     1934-07-22
9           7611     1934-08-04

Converted to First of Month:
   member_number effective_date first_of_month last_of_month
0           7292     1928-09-17     1928-09-01    1928-09-30
1           6594     1952-06-14     1952-06-01    1952-06-30
2           5585     1943-06-23     1943-06-01    1943-06-30
3           6316     1921-01-08     1921-01-01    1921-01-31
4           6426     1932-03-25     1932-03-01    1932-03-31
5           7781     1954-07-05     1954-07-01    1954-07-31
6           6884     1961-09-03     1961-09-01    1961-09-30
7           2798     1982-04-24     1982-04-01    1982-04-30
8           6157     1934-07-22     1934-07-01    1934-07-31
9           7611     1934-08-04     1934-08-01    1934-08-31